Repository dudin-george/ESG_analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, export-requirements

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-yaml
    -   id: check-toml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

# https://github.com/samuelcolvin/pydantic/blob/master/Makefile
-   repo: local
    hooks:
    -   id: lint
        name: lint
        entry: make format
        types: [python]
        language: system
    -   id: export-requirements
        name: Export requirements.txt
        language: system
        pass_filenames: false
        entry: poetry export -f requirements.txt -o requirements.txt --without-hashes
        files: ^(pyproject.toml|poetry.lock)$

default_language_version:
    python: python3.10
default_stages: [commit, push]

working banki.ru parser
  README.org
  db/banki_ru_info.py
  db/banks.py
  db/database.py
  db/reviews.py
  db/sites_banks.py
  main.py
  notebooks/Banki parser.ipynb
  parser/banki_reviews.py
  parser/cbr_parser.py
  parser/sravni_reviews.py
Due: lint

docker compose banki.ru parser
  db/reviews.py
  docker-compose.yaml
  main.py
  misc/__init__.py
  parser/banki_ru_reviews.py
Due: lint

model auto process
  Dockerfile
  db/database.py
  db/reviews.py
  db/text_results.py
  main.py
  misc/__init__.py
  models/EthicsSentimentModelLoader.ipynb
  models/model_sentiment.py
  models/model_workflow.py
  notebooks/Banki parser.ipynb
  notebooks/banki-ru-reviews-to-sentences (2).ipynb
  parser/sravni_reviews.py
  pyproject.toml
Due: lint, export-requirements

test mermaid
  README.org
Due: none

test mermaid
  database.md
Due: none

fix mermaid
  README.org
  database.md
Due: none

update docker file
  Dockerfile
  README.org
Due: none

add TODO to README.org
  README.org
Due: none

change sravni get
  main.py
  parser/sravni_reviews.py
Due: lint

update sravni
  parser/sravni_news.py
Due: lint

all run
  main.py
Due: lint

remove duplicates
  db/database.py
Due: lint

add logger messages
  models/model_workflow.py
  parser/banki_ru_reviews.py
Due: lint

rename org to md
  README.md
Due: none

add sql
  README.md
Due: none

add description to README.md
  README.md
Due: none

fix logger
  misc/logger.py
Due: lint

lint
  README.md
  database.md
Due: none

update model
  db/reviews.py
  db/text_results.py
  models/model_workflow.py
Due: lint

update pre-commit
  .pre-commit-config.yaml
  Makefile
Due: none

int to str
  db/reviews.py
Due: lint

add instruction for connection to db from python
  README.md
Due: none

grafana volume
  docker-compose.yaml
Due: none

fix volume for grafana
  docker-compose.yaml
Due: none

add time for db and selenium startup
  main.py
Due: lint

add pyupgrade plugin
  .pre-commit-config.yaml
Due: none

update sqlmodel
  poetry.lock
  pyproject.toml
Due: export-requirements

update sqlmodel
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements

add metalurg
  notebooks/Metalurg.ipynb
  notebooks/Metalurg_model.ipynb
Due: none

add inn with clear path (7z)
  notebooks/Metalurg.ipynb
Due: none

merge broken path and clear path
  notebooks/Metalurg.ipynb
Due: none

add parser for procuror
  notebooks/ProkurorParser.ipynb
Due: none

add model for procuror
  notebooks/ProkurorModel.ipynb
  notebooks/procuror_metalurg.py
Due: lint

concat datasets
  notebooks/ProkurorModel.ipynb
  notebooks/ProkurorParser.ipynb
  notebooks/procuror_metalurg.py
Due: lint

numba parser
  notebooks/clusret_prokuror.ipynb
Due: none

torch parser
  notebooks/clusret_prokuror.ipynb
Due: none

reorder folders
  api/Dockerfile
  api/db/__init__.py
  api/db/banks.py
  api/db/database.py
  api/db/models.py
  api/db/reviews.py
  api/db/sites_banks.py
  api/db/sourse.py
  api/db/text_model.py
  api/db/text_results.py
  api/main.py
  api/misc/__init__.py
  api/misc/logger.py
  api/models/EthicsSentimentModelLoader.ipynb
  api/models/__init__.py
  api/models/model_sentiment.py
  api/models/model_workflow.py
  api/pyproject.toml
  parser/scripts/__init__.py
  parser/scripts/banki_ru_reviews.py
  parser/scripts/cbr_parser.py
  parser/scripts/sravni_news.py
  parser/scripts/sravni_reviews.py
  poetry.lock
  requirements.txt
Due: lint, export-requirements
